<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JsonSubTypes" version="1.2.0" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net472" />
  <package id="Namotion.Reflection" version="1.0.13" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net472" />
  <package id="NJsonSchema" version="10.1.26" targetFramework="net472" />
  <package id="NSwag.Core" version="13.7.4" targetFramework="net472" />
  <package id="RestSharp" version="105.1.0" targetFramework="net472" />
</packages>